* {
	margin: 0px;
	padding: 0px;
	// border: 1px solid black;
}
	body {
		background-color: #f7f7f7;
	}


  .wraper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;

  }

  .wraper-content {
	width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    overflow: hidden;
  	

  }

